body{
    background-image: url('../pictures/home1.jpg');
    background-attachment: fixed;
    background-position: 50%;
}
.bodyCSS{
    margin-top: 100px;
}

.content{
    background-color: rgba(240, 248, 255, 0.6);
    border:1px black solid;
    margin: 5%;
}

.mynav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(193, 193, 193);
    background-color: cornsilk;

    display: flex;
    justify-content: center;
}
.col{
    padding: 5px;
    border: 1px solid gray;
}
@media(min-width:500px){
    .mynav{
        height: 50px;
        /* line height can make text align center vertically */
        /* flex can also do the same job */
        /* check it sometime */
        line-height: 50px;
    }
    .col{
        display: inline-block;
        margin: 5px;
        width: 45%;
        vertical-align: top;
    }
}
@media(max-width:499px){
    .mynav{
        height: 60px;
        line-height: 60px;
    }
    .col{
        display: block;
        width: 100%;
    }
}

.navbar{
    
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    /* border: 1px solid rgb(193, 193, 193); */
    text-align: center;
    font-weight: bolder;
}

.pic_file{
    width: 70%;
    margin:3% auto;
    padding: 0;
    border: 1px solid rgb(193, 185, 185);
    
}
.text{
    text-align: center;
    font-size: medium;
}
.maintext{
    text-align: left;
}



