/* Body CSS */
body{
    background-image: url('../pictures/home1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    
}
.bodyCSS{

    margin-top: 100px;
}
/* ========== */
/* Navigation part */
.mynav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(193, 193, 193);
    background-color: rgb(255, 233, 147);

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: fit-content;
    padding: 10px;
    /* border: 1px solid rgb(193, 193, 193); */
    text-align: center;
    font-weight: bolder;
}
.highlight{
    background-color: rgb(255, 242, 190);
}

.logo{
    background-image: url("../pictures/Logo2.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    margin-right: 15px;
}

/* ========== */
/* Display part */
.content{
    background-color: rgba(240, 248, 255, 0.8);
    /* border:1px black solid; */
    margin: 15px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    width: 80%;

    display: flex;
}
.col{
    margin-top: 15px;
    /* border: 1px solid rgb(0, 0, 0); */
}
.content{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.col{
    width: 45%;
}
/* @media(min-width:500px){
    .content{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .col{
        width: 45%;
    }
}
@media(max-width:499px){
    .content{
        flex-wrap: wrap;
    }
    .col{
        width: 100%;
    }
} */
.pic_file{
    width: 100%;
    max-width: 600px;
    min-width: 100px;
    /* border: 1px solid rgb(193, 185, 185); */
}
/* ========== */
/* Footer */
.myfooter{
    left: 0;
    bottom: 0;
    border: 1px black solid;
    width: 100%;
    background-color: rgba(98, 44, 6);
    line-height: 45px;
    padding: 5px;
    color: white;
    text-align: center;
}
/* ========== */
/* text part */
.text{
    text-align: center;
    font-size: medium;
}
.maintext{
    font-family: "DFKai-sb";
    text-align: left;
}
/* ========== */
.test{
    height: 200px;
    
}
